# Node.js
node_modules/

# Build files
/dist/
/.nuxt/
/.sass-cache/

# Logs
npm-debug.log*

# Dependency directories
/jspm_packages/
/bower_components/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Webpack
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
